.wrapper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-left: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: ease-in-out 100ms;
    background-color: var(--circle-btn-bc);
    color: var(--circle-btn-color);

    .inside-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .badge {
            position: absolute;
            top: -1px;
            right: -1px;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: var(--primary);
        }
    }

    &:hover {
        background-color: var(--circle-btn-hover-bc);
    }

    &:active {
        cursor: pointer;
        background-color: var(--circle-btn-active-bc);
    }
}
