.wrapper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-left: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: ease-in-out 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;

    &:hover {
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:active {
        cursor: pointer;
        background-color: rgb(22, 24, 35, 0.18);
    }
}

//Dark mode//
.dark {
    background-color: var(--dark-element-color);
    color: var(--dark-icon-color);

    &:hover {
        background-color: var(--dark-element-hover-2);
    }

    &:active {
        cursor: pointer;
        background-color: var(--dark-element-color);
    }
}
