.wrapper {
    width: 100vw;
    display: block;
}

.profile__main {
    background-color: var(--background-color);
}

.cover-photo {
    width: 100%;
    height: 54vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--loading-element-color);
}

.profile__main-center {
    height: 160px;
    padding-top: 10px;
    padding-bottom: 16px;
    border-bottom: var(--profile-border);
}

.profile__main--content {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    transform: translateY(-25px);
}

.profile__main--right {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    min-width: 170px;
    height: 170px;
    position: relative;
    margin-right: 10px;
}

.profile-avt__wrapper {
    width: 170px;
    height: 170px;
    bottom: 0;
    margin-right: 16px;
    position: absolute;

    .profile-avt {
        width: 170px;
        height: 170px;
        border: var(--profile-avt-border);
        border-radius: 50%;
        background-color: var(--loading-element-color);
    }
}

.profile__name-n-follow {
    margin-top: 35px;
    margin-bottom: 32px;

    .profile__name {
        width: 200px;
        height: 35px;
        border-radius: 20px;
        background-color: var(--loading-element-color);
        margin-bottom: 10px;
    }

    .profile__follow-info {
        color: var(--post-time-color);
        column-gap: 0.8rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        //position: absolute;

        .profile__following,
        .profile__follower {
            width: 80px;
            height: 20px;
            border-radius: 10px;
            background-color: var(--loading-element-color);
        }

        .separate-follow {
            font-size: 8px;
        }
    }
}

.profile__main--left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 20px;
    margin-top: 8px;

    .edit-account-btn,
    .edit-profile-btn {
        width: 120px;
        height: 40px;
        border-radius: 20px;
        padding: 0 12px;
        background-color: var(--loading-element-color);
    }

    .edit-profile-btn {
        margin-left: 10px;
    }
}

.profile-nav {
    padding: 4px 0;
    height: 62px;
    background-color: var(--background-color);

    .profile-nav-grid {
        height: 100%;
    }

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        list-style-type: none;

        li {
            width: 100%;
        }
    }
}

.profile__nav--item {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: var(--loading-element-color);
}

@media (max-width: 740px) {
    .profile-cover-photo,
    .loading-cover-photo {
        height: 42vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .profile__main-center {
        height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //transform: translateY(-90px);
    }

    .profile__main--content {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-34px);
    }
    .profile__main--right {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .avatar {
            margin-right: 0;
        }
        .profile__name-n-follow {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
            margin-top: 15px;
        }
    }

    .profile__main--left {
        margin-top: 16px;
    }
}
