.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 80px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: transparent solid 1px;
    background-color: rgb(175, 177, 182, 0.3);
    user-select: none;
    position: relative;

    &:hover {
        background-color: rgb(175, 177, 182, 0.5);
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.title + .icon,
.icon + .title {
    margin-left: 8px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: inline-block;
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    background-color: transparent;
    font-size: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__noti {
    height: 7px;
    width: 7px;
    text-align: center;
    font-size: 10px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    margin-left: 60px;
}

//Button types
.primary {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background: var(--primary-btn-hover-bc);
    }
}

.popper {
    background-color: var(--background-color);
    color: var(--post-interact-detail-color);
    .icon {
        border-radius: 50%;
        font-size: 17px;
        text-align: center;
    }
    &:hover {
        background-color: var(--long-btn-hover-color);
    }
}

.nav {
    height: 100%;
    width: 100%;
    background-color: transparent;

    // &:hover {
    //     background-color: rgba(22, 24, 35, 0.12);
    // }
}

.landingNav {
    font-weight: 700;
    color: #979797;
    &::after {
        display: block;
        color: var(--primary);
        bottom: -5px;
        content: '';
        height: 0.3rem;
        position: absolute;
        width: 60%;
        background: linear-gradient(90.06deg, #fe2c55 -14.45%, #6f5cf1 154.12%);
        left: 20%;
        transform: scale(0);
        transition: all 0.2s ease-in-out;
    }
    &:hover {
        background: -webkit-linear-gradient(90.06deg, #f86086 -4.45%, #fe8d77 104.12%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: transparent !important;
        &::after {
            transform: scale(1);
        }
    }
}

.activeNav {
    background-color: transparent;
    color: var(--primary);
    font-weight: 700;

    &:hover {
        background-color: transparent !important;
    }

    &::after {
        display: block;
        color: var(--primary);
        bottom: -5px;
        content: '';
        height: 0.3rem;
        position: absolute;
        width: 60%;
        background-color: var(--primary);
        left: 20%;
    }
}

.activeLandingNav {
    color: var(--primary);
}

//Button size
.long {
    width: 100%;
    padding: 8px 0;
    background-color: rgb(175, 177, 182, 0.3);
}
