.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 80px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: transparent solid 1px;
    background-color: rgb(175, 177, 182, 0.3);
    user-select: none;
    position: relative;

    &:hover {
        background-color: rgb(175, 177, 182, 0.5);
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.title + .icon,
.icon + .title {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    background-color: transparent;
    font-size: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Button types
.primary {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.popper {
    background-color: var(--background-color);
    .icon {
        border-radius: 50%;
        font-size: 17px;
        text-align: center;
    }
    &:hover {
        background-color: rgb(22, 24, 35, 0.05);
    }
}

.nav {
    height: 100%;
    width: 100%;
    background-color: transparent;

    &:hover {
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.activeNav {
    background-color: transparent;
    color: var(--primary);
    font-weight: 700;

    &:hover {
        background-color: transparent !important;
    }

    &::after {
        display: block;
        color: var(--primary);
        bottom: -5px;
        content: '';
        height: 0.3rem;
        position: absolute;
        width: 60%;
        background-color: var(--primary);
        left: 20%;
    }
}

//Button size
.long {
    width: 100%;
    padding: 8px 0;
    background-color: rgb(175, 177, 182, 0.3);
}

//Dark mode//

.dark.primary {
    &:hover {
        background: #fc3e64;
    }
}

.dark.popper {
    color: var(--dark-text-color-3);

    &:hover {
        background-color: var(--dark-element-hover);
    }
}
