@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@300;400;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    // -webkit-transition: all 1s linear;
    // -moz-transition: all 1s linear;
    // -o-transition: all 1s linear;
    // transition: all 1s linear;

    --primary: rgb(254, 44, 85);
    --black: #000;
    --white: #fff;
    //Default Layout
    --default-layout-header-height: 60px;

    //Home Layout
    --home-layout-width: 1178px;
    --home-interface-padding: 20px 24px;
    --home-center-area-width: 612px;

    //Profile Layout
    --profile-layout-width: 1095px;
    --profile-layout-padding: 246px;

    ////////////////////////Light mode//////////////////////
    --text-color: #161823;
    --light-text-color: #b6bbbf;

    //Theme
    --light-background-color: #f2f5f7;
    --light-background-color-btn: rgb(228, 230, 235);
    --light-mode-black: #1c2232;

    ////////////////////////////////////////////////////////
    --input-border-radius: 92px;
    --transition-theme: all 0.02s ease;
    --component-border-radius: 15px;

    ////////////////////////Dark mode//////////////////////
    --dark-background-color: #18191a;
    --dark-background-color-2: #242526;
    --dark-element-color: #3a3b3c;
    --dark-icon-color: #8c8e91;

    --dark-element-hover: #292a2c;
    --dark-element-hover-2: #4e4f50;

    --dark-text-color: #3a3b3c;
    --dark-text-color-2: #e4e6eb;
    --dark-text-color-3: #b0b3b8;

    --dark-border-color: 1px solid rgb(62, 64, 66);

    //circle button//
    --dark-background-color-3: #f0f0f0;

    ///////////////////////Red dark/////////////////////////
    --red-background-color: #2d1b1e;
}

html {
    font-size: 62.5%;
}

* {
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand';
    font-size: 1.6rem;
    line-height: 1.34;
    text-rendering: optimizeSpeed;
}

input,
button,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

////////////// Theme //////////////

html[data-theme='light'] {
    --background-color: #fff;
    --background-color-2: #f2f5f7;
}

html[data-theme='dark'] {
    --background-color: #242526;
    --background-color-2: #18191a;
}
