.wrapper {
    padding: 12px 0;
    display: flex;
    justify-content: center;
}
.content {
    background-color: var(--background-color-2);
    border-radius: var(--component-border-radius);
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 73px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px 12px;
    box-shadow: var(--wrapper-box-shadow);
}

.right-sidebar {
    position: sticky;
    top: 73px;
}
