.container {
    height: calc(100vh - 60px);
    //width: var(--home-layout-width);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
}

.chat-col {
    height: 100%;
}

@media (max-width: 739px) {
    .wrapper {
        display: flex;
    }
}

@media (min-width: 1240px) {
    .wrapper {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 740px) and (max-width: 1239px) {
    .wrapper {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
}
