.container {
    height: calc(100vh - var(--default-layout-header-height));
    width: var(--home-layout-width);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
