.wrapper {
    width: 100vw;
    display: block;
}

.profile__main {
    background-color: var(--background-color);
}

.profile-cover-photo {
    width: 100%;
    height: 54vh;
    object-fit: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.loading-cover-photo {
    width: 100%;
    height: 54vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--loading-element-color);
}

.profile__main-center {
    height: 160px;
    padding-top: 10px;
    padding-bottom: 16px;
    border-bottom: var(--profile-border);
}

.profile__main--content {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    transform: translateY(-25px);
}

.profile__main--right {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    min-width: 170px;
    height: 170px;
    position: relative;
    margin-right: 10px;
}

.profile-avt__wrapper {
    width: 170px;
    height: 170px;
    bottom: 0;
    margin-right: 16px;
    position: absolute;

    .profile-avt__img {
        width: 170px;
        height: 170px;
        border: var(--profile-avt-border);
        border-radius: 50%;
        object-fit: cover;
    }

    .profile-avt__loading {
        width: 170px;
        height: 170px;
        border: var(--profile-avt-border);
        border-radius: 50%;
        background-color: var(--loading-element-color);
    }
}

.set-status__wrapper {
    height: 34px;
    min-width: 34px;
    display: inline-block;
    position: absolute;
    right: 13px;
    bottom: 9px;
    background-color: transparent;
    text-align: center;
}

.set-status__btn--hovered,
.set-status__btn {
    height: 34px;
    min-width: 34px;
    border-radius: 9999px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 50ms;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--circle-btn-color);
    background-color: var(--background-color);
    border: var(--profile-border);
    position: absolute;
    margin: 0 8px 8px 0;
    z-index: 1;
}

.set-status__btn--hovered {
    right: -60;
    padding: 0px 8px;
    color: var(--primary);
    box-shadow: var(--set-status-box-shadow);
    font-weight: 600;

    .set-status__text {
        margin-left: 5px;
        min-width: 24px;
        white-space: nowrap;
        font-size: 12px;
    }
}

.profile__name-n-follow {
    margin-top: 5px;
    margin-bottom: 32px;

    .profile__name {
        font-size: 32px;
        color: var(--account-item-name-color);
    }

    .profile__follow-info {
        font-size: 17px;
        font-weight: var(--acc-item-font-weight);
        color: var(--post-time-color);
        column-gap: 0.8rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        //position: absolute;

        .profile__following,
        .profile__follower {
            cursor: pointer;
        }
        .separate-follow {
            font-size: 8px;
        }
    }
}

.profile__main--left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 20px;
    margin-top: 8px;
    button {
        height: 40px;
        border-radius: 8px;
        padding: 0 12px;
    }

    .edit-profile-btn,
    .chat-btn {
        background-color: var(--sub-profile-btn-bc);
        color: var(--sub-profile-btn-color);
        margin-left: 10px;

        &:hover {
            background-color: var(--circle-btn-hover-bc);
        }
    }
}

.profile__nav {
    padding: 4px 0;
    height: 62px;
    background-color: var(--background-color);

    .profile__nav-grid {
        height: 100%;
    }

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        list-style-type: none;

        li {
            font-size: 15px;
            width: 100%;
        }
    }
}

.profile__nav-btn {
    font-size: 16px;
    font-weight: 700;
    color: var(--profile-nav-color);
    &:hover {
        background-color: var(--circle-btn-hover-bc);
    }
}

.profile__content {
    background-color: var(--background-color-2);

    padding: 16px 0;
}

@media (max-width: 740px) {
    .profile-cover-photo,
    .loading-cover-photo {
        height: 42vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .profile__main-center {
        height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //transform: translateY(-90px);
    }

    .profile__main--content {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-34px);
    }
    .profile__main--right {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .avatar {
            margin-right: 0;
        }
        .profile__name-n-follow {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
        }
    }

    .profile__main--left {
        margin-top: 16px;
    }
}
