.wrapper {
    width: 100vw;
    display: block;
}

.profile-main-part {
    width: 100%;
    padding: 0 216px;
    background-color: #fff;
}

.profile-cover-photo {
    width: 100%;
    height: 54vh;
    object-fit: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.profile-main-part-center {
    height: 160px;
    padding-top: 10px;
    padding-bottom: 16px;
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgb(204, 206, 209);
}

.avatar {
    min-width: 170px;
    height: 170px;
    transform: translateY(-42px);
    position: relative;
    margin-right: 10px;
}

.profile-avt {
    width: 170px;
    height: 170px;
    border: 4px solid #fff;
    border-radius: 50%;
    bottom: 0;
    margin-right: 16px;
    position: absolute;
    object-fit: cover;
}

.set-status-wrapper {
    height: 34px;
    min-width: 34px;
    display: inline-block;
    position: absolute;
    right: 13px;
    bottom: 9px;
    background-color: transparent;
    text-align: center;
}

.hovered-set-status-btn,
.set-status-btn {
    height: 34px;
    min-width: 34px;
    border-radius: 9999px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 50ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 1px solid rgb(204, 206, 209);
    position: absolute;
    margin: 0 8px 8px 0;
    z-index: 1;
}

.hovered-set-status-btn {
    right: -60;
    padding: 0px 8px;
    color: var(--primary);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 12px;

    .set-status {
        min-width: 64px;
        font-size: 12px;
    }
}

.profile-main-part-right {
    display: flex;
    justify-content: space-between;
}

.profile-name {
    font-size: 32px;
}

.profile-follow-info {
    font-size: 17px;
    font-weight: 600;
    color: rgb(101, 103, 107);
    column-gap: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;

    .separate-follow {
        font-size: 8px;
    }
}
.profile-main-part-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 20px;
    button {
        height: 40px;
        border-radius: 8px;
        padding: 0 12px;
    }

    .edit-profile-btn,
    .chat-btn {
        margin-left: 10px;
    }
}

.profile-nav {
    padding: 4px calc(var(--profile-layout-padding) + 64px);
    height: 62px;
    background-color: #fff;

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        list-style-type: none;

        li {
            font-size: 15px;
            width: 100%;
        }
    }
}

.profile-nav-btn {
    font-size: 16px;
    font-weight: 700;
}

.profile-content {
    background-color: var(--light-background-color);

    padding: 16px calc(var(--profile-layout-padding) + 64px);
}

////////////////////////////////Dark mode//////////////////////////////////////
.dark {
    .profile-main-part {
        background-color: var(--dark-background-color-2);
    }

    .profile-main-part-center {
        border-bottom: 1px solid rgb(62, 64, 66);
    }

    .profile-avt {
        border: 4px solid var(--dark-background-color-2);
    }

    .set-status-wrapper {
        background-color: transparent;
    }

    .hovered-set-status-btn,
    .set-status-btn {
        background-color: var(--dark-background-color-2);
        border: 1px solid rgb(62, 64, 66);
    }

    .set-status-btn {
        color: var(--dark-icon-color);
    }

    .hovered-set-status-btn {
        font-weight: 500;
        color: var(--primary);
        box-shadow: 0 2px 4px #010409;
    }

    .profile-name {
        font-size: 32px;
        color: var(--dark-text-color-2);
    }

    .profile-follow-info {
        font-weight: 500;
        color: var(--dark-text-color-3);
    }
    .profile-main-part-left {
        .edit-profile-btn,
        .chat-btn {
            background-color: var(--dark-text-color);
            color: var(--dark-text-color-2);

            &:hover {
                background-color: var(--dark-element-hover-2);
            }
        }
    }

    .profile-nav {
        background-color: var(--dark-background-color-2);

        ul {
            li {
                font-size: 15px;
                width: 100%;
            }
        }
    }

    .profile-nav-btn {
        font-size: 16px;
        font-weight: 700;
        color: var(--dark-text-color-3);

        &:hover {
            background-color: var(--dark-element-hover-2);
        }
    }

    .profile-content {
        background-color: var(--dark-background-color);
    }
}
