.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-background-color);
    position: relative;
    transition: var(--transition-theme);
}

.header {
    z-index: 5;
}

.container {
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

//Dark mode
.dark {
    transition: var(--transition-theme);
    background-color: var(--dark-background-color);
}
