.loading {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    animation: spinner 1s infinite linear;
    color: rgba(22, 24, 35, 0.34);
    //not
}

.dark {
    color: var(--dark-icon-color);
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
