.loading {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    animation: spinner 1s infinite linear;
    color: var(--circle-btn-color);
    //not
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
