.post-wrapper {
    width: 100%;
    padding: 12px 16px 2px 16px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: var(--component-border-radius);
    box-shadow: 0 2px 8px 0 rgb(99 99 99 / 10%);
}

.post-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-avt {
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.post-header-info {
    margin: -5px 7px;
    flex: 1;

    .user-name {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .time-post {
        font-weight: 500;
        font-size: 1.2rem;
        color: rgb(101, 103, 107);
    }
}

.more-btn {
    padding: 8px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: var(--light-background-color);
    }
}

.post-content {
    .post-caption {
        padding: 8px 0 12px 0;
    }
    .post-image {
        width: 100%;
        height: 100%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .post-image img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 8px;
    }
}

.post-interaction {
    display: flex;
    flex-direction: column;
}

.post-interaction-detail {
    line-height: 20px;
    height: 43px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 16px;
    //margin: -5px 16px 0px 16px;

    .post-reaction-detail {
        float: left;

        .reaction-icon {
            color: var(--primary);
        }
    }

    .post-comment-detail {
        float: right;

        span {
            cursor: pointer;
        }
    }
}

.post-interact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding: 4px;
    border-top: 1px solid rgb(206, 208, 212);
    border-bottom: 1px solid rgb(206, 208, 212);

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: transparent;
        cursor: pointer;
        border-radius: 2px;

        span {
            margin-left: 5px;
        }

        &:hover {
            background-color: rgb(224, 224, 224, 0.5);
        }
    }
}

.comment-bar {
    display: flex;
    padding: 6px;

    .user-avt-comment {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin-right: 6px;
    }

    .comment-input-area {
        width: 100%;
        display: flex;
        flex-direction: column;

        .comment-input {
            &:focus-within {
                border: 1px transparent solid;
            }
        }
    }
}

.comment-list {
    width: 100%;
    height: 100%;
    padding: 4px 0 0 6px;
}

.comment-list-for-post-page {
    width: 100%;
    max-height: 40vh;
    padding: 4px 0 0 6px;
    overflow-y: scroll;
}

///Dark theme////

.dark {
    background-color: var(--dark-background-color-2);
    box-shadow: none;

    .user-name {
        color: var(--dark-text-color-2);
    }

    .time-post {
        color: var(--dark-text-color-3);
    }

    .post-caption {
        color: var(--dark-text-color-2);
    }

    .post-image {
        background-color: var(--dark-background-color-2);
    }

    .post-interact {
        border-top: 1px solid rgb(62, 64, 66);
        border-bottom: 1px solid rgb(62, 64, 66);
        button {
            &:hover {
                background-color: var(--dark-element-hover);
            }
        }
    }

    .more-btn {
        color: var(--dark-icon-color);

        &:hover {
            background-color: var(--dark-element-color);
        }
    }

    .post-interaction-detail {
        color: var(--dark-text-color-3);
    }

    .reaction-btn,
    .comment-btn {
        color: var(--dark-text-color-3);
    }
}
