.post-wrapper {
    width: 100%;
    padding: 12px 16px 2px 16px;
    margin-bottom: 20px;
    background-color: var(--background-color);
    border-radius: var(--component-border-radius);
    box-shadow: var(--box-shadow);
}

.post__header {
    display: flex;
    align-items: center;
    width: 100%;
}

.post__user-avt {
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.post__header-info {
    margin: -5px 7px;
    flex: 1;

    .post__time-post {
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--post-time-color);
    }
}

.more-btn {
    padding: 8px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    color: var(--circle-btn-color);
    &:hover {
        background-color: var(--post-more-btn-hover-color);
    }
}

.post__content {
    .post__content--caption {
        color: var(--post-caption-color);
        padding: 8px 0 12px 0;
    }
    .post__content--img {
        width: 100%;
        height: 100%;
        background-color: var(--background-color-2);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        .loading-post-img {
            width: 100%;
            height: 300px;
            border-radius: 10px;
            background-color: var(--loading-element-color);
        }

        img {
            display: block;
            max-width: 100%;
            max-height: 300px;
            height: auto;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

.post__interaction {
    display: flex;
    flex-direction: column;
}

.post__interaction--detail {
    line-height: 20px;
    height: 43px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--post-interact-detail-color);
    padding: 10px 16px;

    .post__reaction {
        float: left;

        .post__reaction--icon {
            color: var(--primary);
        }
    }

    .post__comment--count {
        float: right;

        span {
            cursor: pointer;
        }
    }
}

.post__interact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding: 4px;
    border-top: 1px solid var(--post-interact-border-color);
    border-bottom: 1px solid var(--post-interact-border-color);

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: transparent;
        cursor: pointer;
        border-radius: 2px;

        span {
            margin-left: 5px;
        }

        &:hover {
            background-color: var(--long-btn-hover-color);
        }
    }
}

.comment__bar {
    display: flex;
    padding: 6px;

    .comment__user-avt {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin-right: 6px;
    }
}

.comment-list {
    width: 100%;
    height: 100%;
    padding: 4px 0 0 6px;
}

.comment-list-for-post-page {
    width: 100%;
    max-height: 37vh;
    margin-top: 10px;
    padding: 4px 0 0 6px;
    overflow-y: scroll;
}

.comment-list-for-post-page::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--chat-sending-time-color);
}

.reaction-btn,
.comment-btn {
    color: var(--post-interact-detail-color);
}

@media (max-width: 740px) {
    .comment-list-for-post-page {
        display: none;
    }
}
