// Avatar //
.user-avt {
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.user-avt--loading {
    border-radius: 50%;
    background-color: var(--loading-element-color);
}

// User name //
.user-name {
    color: var(--account-item-name-color);
    width: fit-content;
    display: flex;
    align-items: center;
}

.user-role {
    color: var(--primary);

    .user-role__hover {
        background-color: rgb(0, 0, 0, 0.75);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
    }
}

.large {
    font-size: 32px;
    font-weight: 700;
    .user-role {
        font-size: 20px;
        font-weight: 600;
        margin-left: 10px;
    }
}

.medium {
    font-size: 15px;
    font-weight: 600;

    .user-role {
        font-size: 12px;
        font-weight: 600;
        margin-left: 4px;
    }
}

.small {
    font-size: 13px;
    font-weight: 700;

    .user-role {
        font-size: 12px;
        font-weight: 600;
        margin-left: 3px;
    }
}
