.wrapper {
    height: 55px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
        background: rgba(68, 73, 80, 0.08);
    }

    margin: 2px 0;
}

.active {
    background: rgba(68, 73, 80, 0.08);
}

.user-avt {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.message-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mess-detail {
    width: 100%;
    height: 34px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mess-top-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -2px;

    .user-name {
        font-size: 15px;
        max-width: 110px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .closest-mess-time {
        font-size: 11px;
        margin-bottom: 4px;
    }
}

.mess-bottom-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;

    bottom: -2px;

    .unread {
        font-weight: 700;
        font-size: 11px;
    }
}

.closest-mess {
    font-size: 12px;
    max-width: 180px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    bottom: 0;
}

.unread-count {
    height: 7px;
    width: 7px;
    text-align: center;
    font-size: 10px;
    right: 0;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
}

@media (max-width: 739px) {
    .wrapper {
        max-width: 75px;
        justify-content: center;
    }
    .message-content {
        display: none;
    }
    .user-avt {
        margin: 0;
    }
}

//Dark mode//

.dark.active {
    background: var(--dark-element-hover);
}
.dark {
    &:hover {
        background: var(--dark-element-hover);
    }

    .mess-top-content {
        .user-name {
            font-weight: 600;
            color: var(--dark-text-color-2);
        }

        .closest-mess-time {
            color: var(--dark-text-color-3);
        }
    }

    .closest-mess {
        color: var(--dark-text-color-3);
    }
}
