//Statuses bar
.horizontal-scroll {
    height: 120px;
    background-color: var(--background-color);
    margin-bottom: 24px;
    border-radius: var(--component-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    position: relative;

    .btn-scroll-left,
    .btn-scroll-right {
        background-color: var(--white);
        padding: 4px 8px;
        margin: 0 5px;
        border-radius: 50%;
        z-index: 1;
        color: #999;
        cursor: pointer;
        box-shadow: 0 0 4px #999;
    }

    .status-container {
        padding: 16px 6px 16px 6px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        left: 0;
        position: absolute;
        transition: 0.5s all ease-out;
    }
}

.dark {
    background-color: var(--dark-background-color-2);

    .btn-scroll-left,
    .btn-scroll-right {
        background-color: var(--dark-element-color);
        color: var(--dark-icon-color);
        box-shadow: 0 0 4px rgb(203, 202, 202);
    }
}

///////////////////Suggest Account/////////////////////////////
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    background-color: var(--background-color);
    border-radius: 6px;
}

.label {
    width: 100%;
    margin-bottom: 4px;
    p {
        font-weight: 600;
        color: rgb(142, 142, 142);
    }
}

.account-list {
}

//Account item
.account-item {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-radius: 8px;
}

.account-info {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 8px;
}

.name {
    font-size: 1.4rem;
    font-weight: 600;

    line-height: 20px;
    display: flex;
    align-items: center;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 500;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.follow {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary);
    font-weight: 700;
    cursor: pointer;
}

//Dark mode//

.dark-suggest-account {
    .label {
        p {
            font-weight: 600;
            color: rgb(142, 142, 142);
        }
    }

    .info {
        flex: 1;
        margin-left: 8px;
    }

    .name {
        font-size: 1.4rem;
        font-weight: 600;
        span {
            color: var(--dark-text-color-2);
        }
    }

    .username {
        color: var(--dark-text-color-3);
    }

    .follow {
        font-weight: 500;
    }
}
