//////////////////////////////Statuses bar/////////////////////////////
.horizontal-scroll {
    height: 120px;
    background-color: var(--background-color);
    margin-bottom: 24px;
    border-radius: var(--component-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    position: relative;

    .btn-scroll-left,
    .btn-scroll-right {
        background-color: var(--scroll-btn-bc);
        padding: 4px 8px;
        margin: 0 5px;
        border-radius: 50%;
        z-index: 1;
        color: var(--scroll-btn-color);
        cursor: pointer;
        box-shadow: var(--scroll-btn-box-shadow);
        transition: 0.1s;
        position: absolute;

        &:hover {
            scale: 1.1;
        }
    }

    .btn-scroll-right {
        right: 0;
    }

    .status-container,
    .loading-status-container {
        padding: 16px 6px 16px 6px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        left: 0;
        position: absolute;
        transition: 0.5s all ease-out;
    }
}

/////////////////////////////Suggest Account/////////////////////////////
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    background-color: var(--background-color);
    border-radius: 6px;
}

.label {
    width: 100%;
    margin-bottom: 4px;
    p {
        font-weight: 600;
        color: rgb(142, 142, 142);
    }
}

/////////////////////////////Account item/////////////////////////////
.account-item {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-radius: 8px;
    position: relative;

    .loading-icon {
        color: var(--primary);
        right: 13px;
    }
}

.account-info {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 8px;
}

.name {
    font-size: 1.4rem;
    font-weight: var(--acc-item-font-weight);

    line-height: 20px;
    display: flex;
    align-items: center;

    span {
        color: var(--acc-item-color);
    }
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.follower {
    font-size: 1.2rem;
    color: var(--sub-acc-item-color);
    font-weight: 500;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.follow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary);
    font-weight: var(--acc-item-font-weight);
    cursor: pointer;
}
