//Post
.wrapper {
    display: flex;
    column-gap: 1.4rem;
}

.intro,
.photo {
    margin-bottom: 1.4rem;
    p {
        color: var(--bio-color);

        margin-top: 16px;
        text-align: center;
        margin-bottom: 12px;
    }
    h2 {
        color: var(--profile-nav-color);
        font-size: 2.5rem;
        font-weight: 700;
    }
}

.edit-bio-btn {
    color: var(--sub-profile-btn-color);
}

.edit-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bio-input {
        min-height: 36px;
        width: 248px;
        padding: 8px 24px;
        margin: 12px 0;
        border: var(--bio-input-border);
        background-color: var(--background-input);
        color: var(--background-input);

        &:focus-within {
            border: 1.8px solid var(--primary);
        }
    }

    .edit-bio-btns {
        width: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cancel-bio-btn {
            height: 32px;
            border-radius: 8px;
            background-color: var(--sub-profile-btn-bc);
            color: var(--sub-profile-btn-color);

            &:hover {
                background-color: var(--circle-btn-hover-bc);
            }
        }
        .save-bio-btn {
            height: 32px;
            border-radius: 8px;
            background-color: var(--primary);
            color: var(--white);

            &:hover {
                background: #fc476b;
            }
        }
    }
}

.photo-box {
    width: 100%;
    height: 100%;
    display: flex;
    // grid-template-columns: repeat(3, minmax(0, 1fr));
    // grid-gap: 5px;
    flex-wrap: wrap;
    margin-top: 15px;
    border-radius: 15px;
    border-radius: 10px;
    overflow: hidden;

    .image-wrapper {
        width: 33.333333333333336%;
        aspect-ratio: 1 / 1;
        padding-right: 4px;
        //margin-bottom: 4px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        a {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
}

.right-content {
    flex: 1;
    h1 {
        color: var(--right-content-h1-color);
        text-align: center;
        margin-top: 50px;
    }
}

.add-post {
    width: 100%;
    height: 116px;
    padding: 12px 16px 6px 16px;
    margin-bottom: 20px;
}

.add-post-top {
    height: 40px;
    display: flex;

    .add-post-user-avt {
        margin-right: 12px;
    }

    .add-post-only-message-btn {
        width: 100%;
        border-radius: 20px;
        color: var(--add-post-only-text-btn-color);
        background-color: var(--add-post-only-text-btn-bc);
        font-size: 17px;
        font-weight: 500;
        justify-content: left;

        &:hover {
            background-color: var(--add-post-only-text-hover-btn);
        }
    }
}

.add-post-bottom {
    height: 46px;
    border-top: 1px solid var(--chat-border);
    margin-top: 8px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;

    .add-post-with-video-btn,
    .add-post-with-photo-btn {
        width: 100%;
        background-color: transparent;
        color: var(--profile-nav-color);

        &:hover {
            background-color: var(--long-btn-hover-color);
            color: var(--primary);
        }
    }

    .add-post-with-video-btn {
        margin-right: 2px;
    }

    .add-post-with-video-btn {
        margin-left: 2px;
    }
}

//Following
.following__wrapper,
.follower__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 205px;
    h2 {
        width: 100%;
        margin-bottom: 16px;
        color: var(--right-content-h1-color);
    }
    .follower__no-follow,
    .following__no-follow {
        width: 100%;
        display: flex;
        justify-content: center;
        h3 {
            font-size: 25px;
            color: var(--post-interact-border-color);
        }
    }
}

.following__accounts,
.follower__accounts {
    flex-basis: 49.5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 115px;
    padding: 16px;
    margin-bottom: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: var(--profile-border);
}

.following__account--avt,
.follower__account--avt {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 16px;
    object-fit: cover;
    cursor: pointer;
}
.following__account--info,
.follower__account--info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.following__account--name,
.follower__account--name {
    color: var(--acc-item-color);
    font-size: 17px;
    font-weight: 600;
}

.following__account--bio,
.follower__account--bio {
    color: var(--sub-acc-item-color);
    font-size: 12px;
    font-weight: 400;
}

@media (max-width: 740px) {
    .following__accounts,
    .follower__accounts {
        flex-basis: 100%;
    }
}
