.wrapper {
    display: flex;
    column-gap: 1.4rem;
}

.left-content,
.right-content {
    height: 300px;
}

.left-content {
    width: 386px;

    .intro {
        padding: 16px;

        background-color: #fff;
        margin-bottom: 1.4rem;
        p {
            margin-top: 16px;
            text-align: center;
            margin-bottom: 12px;
        }
    }
    .photo {
        background-color: #fff;
        padding: 16px;
        p {
            margin-top: 16px;
            text-align: center;
        }
    }
}

.intro,
.photo {
    padding: 16px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px 0 rgb(99 99 99 / 20%);

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

.right-content {
    flex: 1;
    //background-color: #fff;
}
