//Home page//

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(254, 253, 255, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 30px 20px 30px;
}

.home__background {
    position: absolute;
    width: 96%;
    height: 87.5%;
    background: linear-gradient(120deg, #923bf3 0%, #e54c91 49.6%, #f48b7b 100%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 350px;
    border-bottom-left-radius: 40px;
    margin-top: 70px;
}

.home-test {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    //background: linear-gradient(120deg, #f3ce9e 0%, #f48b7b 49.6%, #e54c91 100%);
    padding: 0 100px;
    margin-top: 69px;
}

.home-animation {
    //position: relative;
    width: 450px;
    height: 88vh;
    right: 100px;
    top: 30px;

    // background: linear-gradient(180deg, #e54c91 0%, #f48b7b 49.6%, #f7ad50 100%);
    // //background: linear-gradient(90.06deg, #f86086 -4.45%, #fe8d77 104.12%);
    // //box-shadow: 0px 9.92308px 39.6923px 9.92308px rgba(0, 0, 0, 0.25);
    // border-radius: 49.6154px;

    .animation-inner {
        width: 100%;
        height: 100%;
        position: relative;

        .man {
            position: absolute;
            width: 130%;
            height: 95%;
            object-fit: contain;
            right: -10rem;
            top: 25px;
            filter: drop-shadow(0px 51px 40px rgba(0, 0, 0, 0.25));
            animation: shake 2.5s;
            animation-iteration-count: infinite;
        }

        .vector {
            height: 90%;
            width: 75%;
            object-fit: contain;
            margin: 30px 100px;
        }
    }
}

@keyframes shake {
    0% {
        transform: translate(10px, 10px) rotate(0deg);
    }
    50% {
        transform: translate(10px, -10px) rotate(-1deg);
    }
    100% {
        transform: translate(10px, 10px) rotate(0deg);
    }
}

.home-content {
    //position: absolute;
    //left: 150px;

    color: #333;
    z-index: 1;
}

.content-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    font-size: 60px;
    margin-bottom: 10px;
    // background: -webkit-linear-gradient(90.06deg, #f86086 -4.45%, #fe8d77 104.12%);
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: #fff;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.home-description {
    color: #fff;
    opacity: 0.5;
}

.home__btns {
    margin-top: 2.5rem;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        width: 160px;
        height: 52px;
        font-size: 17px;
        color: #fff;
        padding: 5px;
        outline: none;
        border-radius: 10px;
    }
}

.log-in-btn {
    background-color: #fe3d62;
    border: none;
    transition: none;

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #fe2c55;
        color: var(--white);
    }
}

.sign-up-btn {
    background-color: transparent;
    transition: none;

    border: 2px solid rgb(255, 255, 255, 0.3);
    &:hover {
        background-color: rgb(255, 255, 255, 0.3);
    }
}

@media (max-width: 500px) {
    .content-inner {
        .home-title {
            font-size: 35px;
        }

        .home-description {
            p {
                font-size: 12px;
            }
        }

        .home__btns {
            margin-top: 2.5rem;
            width: 200px;

            a {
                width: 95px;
                height: 35px;
                font-size: 14px;
                padding: 2px;
                border-radius: 5px;
            }
        }
    }
}

@media (max-width: 740px) {
    .home-test {
        padding: 0;
    }

    .home-content {
        height: 50%;
        order: 2;

        .content-inner {
            .home-title {
                color: red;
            }

            .home-description {
                p {
                    color: red;
                }
            }

            .home__btns {
                a {
                }
            }
        }
    }

    .home-animation {
        height: 44vh;
        order: 1;

        .animation-inner {
            .man {
                width: 90%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
            .vector {
                display: none;
            }
        }
    }

    .home__background {
        width: 100%;
        height: 50%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 80px;
        border-bottom-left-radius: 80px;
        margin-top: 0px;
    }

    .home-title {
        font-size: 40px;
    }

    .home__btns {
        margin-top: 2.5rem;
        width: 250px;

        a {
            width: 120px;
            height: 42px;
            font-size: 16px;
            padding: 2px;
            border-radius: 5px;
        }
    }
}

@media (min-width: 740px) and (max-width: 1024px) {
    .home-test {
        padding: 0 50px;
    }
    .home-title {
        font-size: 40px;
    }

    .home__btns {
        margin-top: 2.5rem;
        width: 250px;

        a {
            width: 120px;
            height: 42px;
            font-size: 16px;
            padding: 2px;
            border-radius: 5px;
        }
    }

    .home {
        padding: 0px 20px 20px 20px;
    }
}
