.wrapper {
    height: 60px;
    width: 100%;
    padding: 13px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 12px;
}

.inner-wrapper {
    width: var(--home-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 300px;
    color: var(--primary);
    font-size: 35px;
    font-weight: 800;
}

.search {
    margin: 0px 24px;
    flex: 1;
}

.search-result {
    width: 530px;
}

.actions {
    width: 300px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-btn {
    display: flex;
    justify-content: center;
    height: 100%;
    right: 0px;
    position: absolute;
}

.user-avt {
    right: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}

.menu-list {
    width: 200px;

    .menu-item-btn {
        margin-left: 0;
        width: 100%;
        justify-content: flex-start;
        border-radius: 8px;
        padding: 10px 14px;
        line-height: 20px;
        background-color: #fff;

        &:hover {
            background-color: rgb(22, 24, 35, 0.05);
        }

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}
