.mess-search {
    width: 100%;
}

.chat-search-result {
    width: 260px;
}

.account-search-result {
    width: 527px;
}

// @media (max-width: 739px) {
//     .account-search-result {
//         width: 250px;
//     }
// }

// @media (min-width: 1240px) {
//     .account-search-result {
//         width: 527px;
//     }
// }

// @media (min-width: 740px) and (max-width: 1239px) {
//     .account-search-result {
//         width: 300px;
//     }
// }

.dark {
    span {
        color: var(--dark-text-color-3);
    }
}
