.mess-search {
    width: 100%;
}

.chat-search-result {
    width: 260px;
}

.chat-search-wrapper,
.account-search-wrapper {
    overflow: hidden;
    max-height: 300px;
    overflow-y: scroll;

    .no-user-found {
        color: var(--round-acc-item-name-color);
        font-size: 15px;
        font-weight: var(--chat-font-weight);
    }
}

.account-search-result {
    width: 527px;
}

// @media (max-width: 739px) {
//     .account-search-result {
//         width: 250px;
//     }
// }

// @media (min-width: 1240px) {
//     .account-search-result {
//         width: 527px;
//     }
// }

// @media (min-width: 740px) and (max-width: 1239px) {
//     .account-search-result {
//         width: 300px;
//     }
// }
