//Sidebar
.sidebar-wrapper {
    grid-column: span 1 / span 1;
    background-color: var(--background-color);
    position: relative;
    border-right: 1px solid var(--chat-border);
    overflow-y: auto;
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--chat-sending-time-color);
}

.sidebar-header {
    position: sticky;
    background-color: var(--background-color);
    top: 0px;
    z-index: 1;
    padding-bottom: 3px;
}

.sidebar-top-header {
    color: var(--post-caption-color);
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    position: relative;
}

.search {
    width: 100%;
    height: 34px;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding: 0px 15px;
}

.user-message-list {
    margin: 0px 4px 0 4px;
    position: relative;

    .user-message-loading {
        padding: 5px 15px;
    }
}

//Chat layout
.chat-wrapper {
    background-color: var(--background-color);
    grid-column: span 3 / span 3;
    position: relative;
    overflow-y: auto;
}

.chat-header {
    height: 64px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    padding: 10px 18px;
    align-items: center;
    border-bottom: 1px solid var(--chat-border);
    z-index: 1;

    .user-avt {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 12px;
    }

    .user-name {
        color: var(--account-item-name-color);
        font-size: 16px;
        font-weight: 600;
    }
}

.chat-box {
    height: calc(100% - 64px * 2);
    width: 100%;

    position: relative;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message-list {
    padding: 20px 18px 0 18px;
    overflow-y: auto;
    max-height: 100%;
}

.message-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--chat-sending-time-color);
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 8px 0;
    align-items: center;
    &:hover {
        .sending-time {
            opacity: 1;
        }
    }
}

.my-mess {
    justify-content: flex-end;
    .my-mess-content-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 8px;
        margin-left: 8px;
        background-color: var(--primary);
        border-radius: 10px;
        max-width: 320px;
        -ms-word-break: break-all;
        word-break: break-all;
        word-wrap: break-word; /* IE */

        img {
            margin-top: 5px;
            max-width: 100%;
            border-radius: 10px;
        }
    }
    .my-mess-content {
        color: var(--white);
        font-size: 15px;
        font-weight: var(--chat-font-weight);
        white-space: normal !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }

    .sending-time {
        font-size: 11px;
        margin-top: 4px;
        font-weight: var(--chat-sending-time-font-weight);
        color: var(--chat-sending-time-color);
        opacity: 0;
    }
}

.fr-mess {
    justify-content: flex-start;

    .fr-mess-content-wrapper {
        position: relative;
        padding: 8px;
        margin-right: 8px;
        background-color: var(--fr-chat-bc);
        border-radius: 10px;
        max-width: 320px;
        border: 1.5px solid var(--chat-border);
        -ms-word-break: break-all;
        word-break: break-all;
        word-wrap: break-word; /* IE */

        img {
            margin-top: 5px;
            max-width: 100%;
            border-radius: 10px;
        }
    }

    .fr-mess-content {
        color: var(--fr-chat-color);
        font-size: 15px;
        font-weight: var(--chat-font-weight);
        white-space: normal !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }

    .sending-time {
        font-size: 11px;
        font-weight: var(--chat-sending-time-font-weight);
        color: var(--chat-sending-time-color);
        margin-top: 4px;
        opacity: 0;
    }
}

.chat-footer {
    position: relative;
    height: 60px;
    border-top: 1px solid var(--chat-border);

    .image-input-area {
        position: absolute;
        top: -84px;
        background-color: var(--background-color);
        padding: 10px 10px;
        border-top: 1px solid var(--chat-border);
    }

    .mess-input {
        height: 100%;
        background-color: transparent;

        &:focus-within {
            border-color: transparent;
        }
    }

    .img-btn {
        width: 58px;
        height: 56px;
        margin-right: 1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: var(--chat-btn);
        &:hover {
            color: var(--primary);
            background-color: transparent;
        }
    }

    .send-btn {
        width: 58px;
        height: 56px;
        border-left: 1px solid var(--chat-border);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: var(--chat-btn);
        &:hover {
            background-color: transparent;
            color: var(--primary);
        }
    }
}

//Empty chat
.empty-chat__wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--chat-btn);
    grid-column: span 3 / span 3;
    position: relative;

    .empty-chat__image {
        width: 40%;
        opacity: 0.28;
    }

    h2 {
        color: var(--chat-btn);

        text-align: center;
        margin: 0 30px;
    }
}

.chat-header {
    border-bottom: 1px solid var(--chat-border);

    span {
        color: var(--round-acc-item-name-color);
        font-size: 15px;
        font-weight: var(--chat-font-weight);
    }
}

.chat-header-input {
    border: none;
    background-color: var(--background-color);
    font-size: 25px;
    font-weight: 400px;
}

@media (max-width: 740px) {
    .sidebar-wrapper {
        max-width: 75px;
        .sidebar-top-header {
            justify-content: center;
            h2 {
                display: none;
            }
            button {
                margin: 0;
            }
        }

        .search {
            display: none;
        }
    }
    .chat-wrapper {
        flex: 1;
    }
    .empty-chat__wrapper {
        flex: 1;

        .empty-chat__image {
            width: 60%;
        }
    }
}

@media (min-width: 740px) and (max-width: 1239px) {
    .sidebar-wrapper {
        grid-column: 1 / span 3;
    }
    .chat-wrapper {
        grid-column: span 5;
    }
    .empty-chat__wrapper {
        grid-column: span 5;

        .empty-chat__image {
            width: 60%;
        }
    }
}
