//Sidebar
.sidebar-wrapper {
    grid-column: span 1 / span 1;
    background-color: #fff;
    position: relative;
    border-right: 1px solid rgb(204, 206, 209, 0.5);
    overflow-y: auto;
}

.sidebar-header {
    position: sticky;
    background-color: var(--white);
    top: 0px;
    z-index: 1;
    padding-bottom: 3px;
}

.sidebar-top-header {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    position: relative;
}

.search {
    width: 100%;
    height: 34px;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding: 0px 15px;
}

.user-message-list {
    margin: 0px 4px 0 4px;
    position: relative;
}

//Chat
.chat-wrapper {
    //height: 100%;
    background-color: #fff;
    grid-column: span 3 / span 3;
    position: relative;
    overflow-y: auto;
}

.chat-header {
    height: 64px;
    width: 100%;
    background-color: #fff;
    display: flex;
    padding: 10px 18px;
    align-items: center;
    border-bottom: 1px solid rgb(204, 206, 209, 0.5);
    //position: fixed;
    z-index: 1;

    .user-avt {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 8px;
    }

    .user-name {
        font-size: 16px;
        font-weight: 700;
    }
}

.chat-box {
    height: calc(100% - 64px * 2);
    width: 100%;
    //margin-top: 64px;

    position: relative;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message-list {
    padding: 20px 18px 0 18px;
    overflow-y: auto;
    max-height: 100%;
}

.message {
    position: relative;
    display: flex;
    //flex-direction: column;
    width: 100%;
    margin: 8px 0;
    align-items: center;
    &:hover {
        .sending-time {
            opacity: 1;
        }
    }
}

.my-mess {
    justify-content: flex-end;
    .my-mess-content-wrapper {
        position: relative;
        padding: 8px;
        margin-left: 8px;
        background-color: var(--primary);
        border-radius: 10px;
        max-width: 520px;
    }
    .my-mess-content {
        color: var(--white);
        font-size: 15px;
        font-weight: 600;
        white-space: normal !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }

    .sending-time {
        font-size: 11px;
        margin-top: 4px;
        font-weight: 500;
        color: var(--light-text-color);
        opacity: 0;
    }
}

.fr-mess {
    justify-content: flex-start;

    .fr-mess-content-wrapper {
        position: relative;
        padding: 8px;
        margin-right: 8px;
        background-color: #ffebef;
        border-radius: 10px;
        max-width: 65%;
        border: 1.5px solid rgba(255, 190, 190, 0.5);
    }

    .fr-mess-content {
        color: #75172a;
        font-size: 15px;
        font-weight: 600;
        white-space: normal !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }

    .sending-time {
        font-size: 11px;
        font-weight: 500;
        color: var(--light-text-color);
        margin-top: 4px;
        opacity: 0;
    }
}

.chat-footer {
    height: 60px;
    border-top: 1px solid rgb(204, 206, 209, 0.5);
    // position: fixed;
    // bottom: 0;
    // z-index: 1;
    // background-color: var(--white);

    .mess-input {
        height: 100%;
        background-color: transparent;

        &:focus-within {
            border-color: transparent;
        }
    }

    .img-btn {
        width: 58px;
        height: 56px;

        margin-right: 1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: var(--light-text-color);
        &:hover {
            color: var(--primary);
            background-color: transparent;
        }
    }

    .send-btn {
        width: 58px;
        height: 56px;
        //margin-right: 15px;
        //border-radius: 50%;
        border-left: 1px solid rgb(204, 206, 209, 0.5);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: var(--light-text-color);
        &:hover {
            background-color: transparent;
            color: var(--primary);
        }
    }
}

//Empty chat
.empty-chat-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: var(--light-text-color);
    grid-column: span 3 / span 3;
    position: relative;
    h2 {
        text-align: center;
        margin: 0 30px;
    }
}

.chat-header {
    span {
        font-size: 15px;
        font-weight: 400px;
    }
}

.chat-header-input {
    border: none;
    background-color: #fff;
    font-size: 25px;
    font-weight: 400px;
}

@media (max-width: 739px) {
    .sidebar-wrapper {
        max-width: 75px;
        .sidebar-top-header {
            justify-content: center;
            h2 {
                display: none;
            }
            button {
                margin: 0;
            }
        }

        .search {
            display: none;
        }
    }
    .chat-wrapper {
        flex: 1;
    }
    .empty-chat-wrapper {
        flex: 1;
    }
}

@media (min-width: 740px) and (max-width: 1239px) {
    .sidebar-wrapper {
        grid-column: 1 / span 3;
    }
    .chat-wrapper {
        grid-column: span 5;
    }
    .empty-chat-wrapper {
        grid-column: span 5;
    }
}

///////////////////Dark mode///////////////////////////////

//Sidebar
.dark-chat-sidebar {
    background-color: var(--dark-background-color-2);
    border-right: 1px solid rgb(62, 64, 66);

    .sidebar-header {
        background-color: var(--dark-background-color-2);
    }

    .sidebar-top-header {
        h2 {
            color: var(--dark-text-color-2);
        }
    }
}

//Chat
.dark-chat {
    background-color: var(--dark-background-color-2);

    .chat-header {
        background-color: var(--dark-background-color-2);
        border-bottom: 1px solid rgb(62, 64, 66);

        .user-name {
            font-size: 16px;
            font-weight: 700;
            color: var(--dark-text-color-3);
        }
    }

    .my-mess {
        .my-mess-content-wrapper {
            background-color: var(--primary);
        }
        .my-mess-content {
            color: var(--white);
            font-weight: 400;
        }

        .sending-time {
            font-size: 11px;
            font-weight: 700;
            color: var(--dark-text-color);
        }
    }

    .fr-mess {
        .fr-mess-content-wrapper {
            background-color: rgba(68, 43, 48, 0.302);
            border: 1px solid rgb(62, 64, 66);
        }

        .fr-mess-content {
            font-weight: 400;
            color: var(--dark-text-color-3);
        }

        .sending-time {
            font-weight: 700;
            color: var(--dark-text-color);
        }
    }

    .chat-footer {
        border-top: 1px solid rgb(62, 64, 66);
        background-color: var(--dark-background-color-2);

        .img-btn {
            color: var(--dark-icon-color);
            &:hover {
                background-color: transparent;
                color: var(--primary);
            }
        }

        .send-btn {
            border-left: 1px solid rgb(62, 64, 66);
            color: var(--dark-icon-color);
            &:hover {
                background-color: transparent;
                color: var(--primary);
            }
        }
    }
}

//Empty chat

.dark-empty-search-chat {
    background-color: var(--dark-background-color-2);

    .chat-header {
        border-bottom: 1px solid rgb(62, 64, 66);
        background-color: var(--dark-background-color-2);

        span {
            color: var(--dark-text-color-3);
        }
    }

    .chat-header-input {
        border: none;
        background-color: var(--dark-background-color-2);
    }
}
.dark-empty-chat {
    background-color: var(--dark-background-color-2);
    color: var(--light-text-color);

    h2 {
        color: var(--dark-text-color-3);
    }
}
