.wrapper {
    width: 100%;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    position: relative;
}

.blur-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.profile-card-wrapper {
    max-width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: 5px;
    color: var(--text-color);
    padding-top: 20px;
    position: relative;
    width: 350px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: linear-gradient(var(--primary), var(--primary));
    background-size: 100% 20%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar__loading {
        width: 110px;
        height: 110px;
        border: 4px solid var(--background-color);
        background-color: var(--loading-element-color);
        border-radius: 50%;
        padding: 0px;
    }

    .avatar {
        width: 110px;
        border: 4px solid var(--background-color);
        border-radius: 50%;
        padding: 0px;
    }

    h3 {
        margin-top: 10px;
        color: var(--account-item-name-color);
    }

    p {
        font-size: 14px;
        margin-bottom: 7px;
        color: var(--post-time-color);
    }

    .buttons {
        width: 225px;
        display: flex;
        justify-content: space-between;
    }

    .view-profile-btn,
    .follow-btn {
        width: 110px;
        height: 36px;
        border-radius: 3px;
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
        padding: 10px 10px;
    }

    .follow-btn {
        &:hover {
            background-color: rgba(254, 44, 85, 0.06);
        }
    }

    .follow-btn {
        background-color: var(--background-color);
        border: 1px solid var(--primary);
        color: var(--primary);
    }
}

.skills {
    background-color: #ff4f71;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    color: var(--white);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        border: 1px solid var(--light-text-color);
        border-radius: 2px;
        display: inline-block;
        font-size: 12px;
        margin: 0 7px 7px 0;
        padding: 4px;
    }
}
